body {
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.scores{
  font-size: 2em;
  justify-content:  center;
  margin: auto;
  display: flex;
  font-weight: bolder;
}
.scores div{
  margin-right: 50px;
}
.scoreValue{
  display: block;
  text-align: center;
}
#gameMode{
  color:gray;
  cursor: pointer;
}

#board {
  font-weight: bolder;
  font-size:100px;
  border-collapse: collapse;
  margin: 50px auto;
}

.square {
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid rgb(255, 255, 255);
  cursor: pointer;
}

.no-left-border {
  border-left: 0px;
}

.no-top-border {
  border-top: 0px;

}

.no-right-border {
  border-right: 0px;

}

.no-bottom-border {
  border-bottom: 0px;
}
#restartButton{
  cursor: pointer;
}